---
layout: default
---
<div id="definition">
	<h2>Code smell <span id="pronunciation">/k&#601;&#650;d sm&#603;l/</span></h2>
	<i>noun</i>
	<p>A characteristic of computer code that may indicate a deeper flaw.</p>
</div>
<p>The following code smells are from the <a href="https://link.springer.com/article/10.1007/s10664-006-9002-8" target="_blank"  rel="external">M&auml;ntyl&auml;-Lassenius taxonomy</a>.</p>
{% for group in site.data.groups %}
	<h2 id="{{ group.name | cgi_escape }}">{{ group.name }}</h2>
	{{ group.description | markdownify }}
	<div class="smellList">
		{% for smell in site.smells %}
			{% if smell.group == group.name %}
				<a href="{{ smell.url | absolute_url }}">
					<img src="{{ '/assets/images/smellIcons' | absolute_url }}/{{ smell.image }}" alt="{{ smell.title }} code smell icon" />
					{{ smell.title }}
				</a>
			{% endif %}
		{% endfor %}
	</div>
{% endfor %}