---
layout: default
---
<div id="definition">
	<h2>Code smell <span id="pronunciation">/k&#601;&#650;d sm&#603;l/</span></h2>
	<i>noun</i>
	<p>A characteristic of computer code that may indicate a deeper flaw.</p>
</div>
{% for group in site.data.groups %}
	<h2 id="{{ group.name }}">{{ group.name }}</h2>
	<p>{{ group.description | markdownify }}</p>
	<div class="smellList">
		{% for smell in site.smells %}
			{% if smell.group == group.name %}
				<a href="{{ smell.url | absolute_url }}">
					<img src="{{ '/assets/images/smellIcons' | absolute_url }}/{{ smell.image }}" alt="{{ smell.title }} icon" />
					{{ smell.title }}
				</a>
			{% endif %}
		{% endfor %}
	</div>
{% endfor %}