<div id="bookList">
	<h2>Books about code smells</h2>
	<p>Learn to write better smelling code.</p>
	<a href="https://www.amazon.com.au/Refactoring-Martin-Fowler/dp/0134757599/ref=sr_1_3" target="_blank" rel="nofollow" class="book">
		<img src="{{ '/assets/images/books/refactoring.jpg' | absolute_url }}" alt="Refactoring: Improving the Design of Existing Code book cover"/>
		<p>Refactoring: Improving the Design of Existing Code</p>
	</a>
	<a href="https://www.amazon.com.au/Code-smells-Dr-Sharanpreet-Kaur/dp/6203202150/ref=sr_1_7" target="_blank" rel="nofollow" class="book">
		<img src="{{ '/assets/images/books/codeSmells.jpg' | absolute_url }}" alt="Code smells book cover"/>
		<p>Code smells</p>
	</a>
	<a href="https://www.amazon.com.au/Clean-Code-Handbook-Software-Craftsmanship/dp/0132350882/ref=sr_1_1" target="_blank" rel="nofollow" class="book">
		<img src="{{ '/assets/images/books/cleanCode.jpg' | absolute_url }}" alt="Clean Code: A Handbook of Agile Software Craftsmanship book cover"/>
		<p>Clean Code: A Handbook of Agile Software Craftsmanship</p>
	</a>
	<div id="affiliate">I receive a commission on sales made from the above affiliate links.</div>
</div>