$black: black;
$element_background_color: #f9f9f9;
$element_background_hover_color: #f5f5f5;
$border_color: #eee;
$light_text_color: #606060;
$accent_color: #3F73D4;
$code_font: Menlo, Courier, monospace;

* {
  font-family: "Times New Roman", "Times", serif;
  color: black
}

p > a {
  color: $accent_color;
}

body {
  font-size: 13pt;
  margin: 20px 0 0 0;
  line-height: 31px;
  font-weight: 100;
}

#main {
  max-width: 800px;
  margin: auto;
}

h1, h2, h3 {
  margin: 0 0 10px 0;
  font-weight: 100;
}

#heading {
  border-bottom: 1px solid $border_color;
  padding: 0 0 20px 0;
  font-size: 54px;
  text-align: center;
  margin: 30px 0 20px 0;

  a {
	text-decoration: none;
  }
}

#definition {
  background: $element_background_color;
  padding: 20px;
  border: 1px solid $border_color;
  line-height: 20px;
  border-radius: 10px;

  h2 {
	font-size: 24px;
	margin: 0 0 10px 0;
	text-decoration: none;

	#pronunciation {
	  font-size: 0.7em;
	  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	  font-weight: normal;
	  color: $light_text_color;
	}
  }

  p {
	line-height: 30px;
	margin: 10px 0 0;
  }
}

h2 {
  font-size: 34px;
  margin: 40px 0 0 0;
}

.smellList {
  display: block;

  a {
	margin: 0 0 10px 0;
	width: calc(50% - 26px);
	font-weight: 100;
	font-size: 90%;
	background: $element_background_color;
	display: inline-flex;
	color: #333;
	text-decoration: none;
	padding: 5px 10px 5px 10px;
	border-left: 1px solid #999;
	line-height: 35px;

	&:nth-child(odd) {
	  margin-right: 5px;
	}

	&:hover {
	  color: $black;
	  background: $element_background_hover_color;
	  border-left: 1px solid $black;
	}

	img {
	  width: 35px;
	  height: 35px;
	  margin-right: 10px;
	  image-rendering: pixelated;
	}
  }
}

#footer {
  text-align: center;
  margin: 70px 0 50px 0;
  color: $light_text_color;

  noscript {
	color: $light_text_color
  }
}

.highlight {
  padding: 20px;
  border-radius: 20px;
  margin-top: 10px;
  overflow: scroll;
}

code, code * {
  font-family: $code_font;
}

#path {
  font-size: 80%;
  padding: 5px;
  color: $light_text_color;

  * {
	color: $light_text_color;
  }
}

#smellHeading {
  display: flex;

  img {
	width: 75px;
	height: 75px;
	margin-right: 15px;
	image-rendering: pixelated;
  }

  h1 {
	line-height: 75px;
	margin: 0;
  }
}

#bookSection {
  display: flex;
  border-top: 1px solid $border_color;
  border-bottom: 1px solid $border_color;
  padding: 25px 0 35px 0;
  margin-top: 35px;
  flex-wrap: wrap;
  justify-content: space-between;

  > p {
	flex: 0 0 100%;
	margin: 0 0 25px;
  }

  > a {
	width: 27%;
	border: 1px solid $border_color;
	padding: 15px;
	border-radius: 10px;
	display: block;
	background-color: $element_background_color;
	text-decoration: none;

	&:hover {
	  background: $element_background_hover_color;
	  border: 1px solid black;
	}

	> img {
	  display: inline-flex;
	  height: auto;
	  width: 100%;
	}

	> p {
	  font-weight: bold;
	  font-size: 95%;
	  margin: 0 0 0 0;
	}
  }
}

#affiliate {
	display: block;
	margin-top: 35px;
	font-size: 85%;
	line-height: 115%;
	font-style: italic;
	color: $light_text_color;
}