<html lang="en">
	<head>
		<!-- Standard Metadata-->
		<title>Code Smells</title>
		<meta name="description" content="Independent iOS developer">
		<meta name="keywords" content="Code smells, code quality, coding standards, Gavin Douch">
		<meta name="language" content="english">
		<meta name="author" content="Gavin Douch">
		<meta name="copyright" content="Gavin Douch">
		<meta charset="UTF-8">

		<!-- Styles -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="theme-color" content="#1c1c1c">
		<link rel="stylesheet" href="assets/css/main.css">

		<!-- Icons-->
		{% include icons.html %}

	</head>
	<body>
		<div id="main">
			<h1 id="heading">
				<a href="index.html">Code Smells</a>
			</h1>
			{{ content }}
			<div id="bookList">
				<h2>Books about code smells</h2>
				<p>Learn to write better smelling code.</p>
				<div class="book">
					<img src="assets/images/books/refactoring.jpg" alt="Refactoring: Improving the Design of Existing Code book cover"/>
					<p>Refactoring: Improving the Design of Existing Code</p>
					<a href="https://www.amazon.com.au/Refactoring-Martin-Fowler/dp/0134757599/ref=sr_1_3" rel="nofollow">More info</a>
				</div>
				<div class="book">
					<img src="assets/images/books/codeSmells.jpg" alt="Code smells book cover"/>
					<p>Code smells</p>
					<a href="https://www.amazon.com.au/Code-smells-Dr-Sharanpreet-Kaur/dp/6203202150/ref=sr_1_7" rel="nofollow">More info</a>
				</div>
				<div class="book">
					<img src="assets/images/books/cleanCode.jpg" alt="Clean Code: A Handbook of Agile Software Craftsmanship book cover"/>
					<p>Clean Code: A Handbook of Agile Software Craftsmanship</p>
					<a href="https://www.amazon.com.au/Clean-Code-Handbook-Software-Craftsmanship/dp/0132350882/ref=sr_1_1" rel="nofollow">More info</a>
				</div>
				<div id="affiliate">I receive a commission on sales made from the above affiliate links.</div>
			</div>
			<p id="footer">
				&copy; 2021 <a href="https://gavindou.ch" rel="author">Gavin Douch</a>
			</p>
		</div>
	</body>
</html>
