---
books:
-
  title: Refactoring: Improving the Design of Existing Code
  link: https://www.amazon.com.au/Refactoring-Martin-Fowler/dp/0134757599/ref=sr_1_3
  image: refactoring.jpg
-
  title: Code smells: A Predictor of Remarkable Quality Improvement
  link: https://www.amazon.com.au/Code-smells-Dr-Sharanpreet-Kaur/dp/6203202150/ref=sr_1_7
  image: codeSmells.jpg"
-
  title: Clean Code: A Handbook of Agile Software Craftsmanship
  link: https://www.amazon.com.au/Clean-Code-Handbook-Software-Craftsmanship/dp/0132350882/ref=sr_1_1
  image: cleanCode.jpg
---
<html lang="en">
	<head>
		<!-- Standard Metadata-->
		<title>Code Smells</title>
		<meta name="description" content="Learn to write less smelly code.">
		<meta name="keywords" content="Code smells, code quality, coding standards, Gavin Douch">
		<meta name="language" content="english">
		<meta name="author" content="Gavin Douch">
		<meta name="copyright" content="Gavin Douch">
		<meta charset="UTF-8">

		<!-- Styles -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="theme-color" content="#1c1c1c">
		<link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url }}">

		<!-- Icons-->
		{% include icons.html %}
	</head>
	<body>
		<div id="main">
			<h1 id="heading">
				<a href="{{ '/' | absolute_url }}">Code Smells</a>
			</h1>
			{{ content }}
			<div id="bookList">
				<h2>Books about code smells</h2>
				<p>Learn to write better smelling code.</p>
				{% for book in books %}
					<a href="{{ book.link }}" target="_blank" rel="nofollow" class="book">
						<img src="{{ '/assets/images/books' | absolute_url }}/{{ book.image }}" alt="{{ book.title }} book cover" />
						<p>{{ book.title }}</p>
					</a>
				{% endfor %}
				<div id="affiliate">I receive a commission on sales made from the above affiliate links.</div>
			</div>
			<p id="footer">
				&copy; {{ site.time | date: '%Y' }} <a href="https://gavindou.ch" rel="author">Gavin Douch</a>
			</p>
		</div>
	</body>
</html>
